Lab7/NewWebService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.medvedev.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NewWebServiceService" targetNamespace="http://soap.medvedev.ru/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.medvedev.ru/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.medvedev.ru/">
  <xs:element name="getAreas" type="tns:getAreas"/>
  <xs:element name="getAreasResponse" type="tns:getAreasResponse"/>
  <xs:element name="sayHello" type="tns:sayHello"/>
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
  <xs:complexType name="getAreas">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAreasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:responcePojo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responcePojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="xs:decimal"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JAXBException" type="tns:JAXBException"/>
  <xs:complexType name="JAXBException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="JAXBException">
    <wsdl:part element="tns:JAXBException" name="JAXBException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAreasResponse">
    <wsdl:part element="tns:getAreasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAreas">
    <wsdl:part element="tns:getAreas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NewWebService">
    <wsdl:operation name="getAreas">
      <wsdl:input message="tns:getAreas" name="getAreas">
    </wsdl:input>
      <wsdl:output message="tns:getAreasResponse" name="getAreasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:JAXBException" name="JAXBException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWebServiceServiceSoapBinding" type="tns:NewWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAreas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAreas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAreasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="JAXBException">
        <soap:fault name="JAXBException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWebServiceService">
    <wsdl:port binding="tns:NewWebServiceServiceSoapBinding" name="NewWebServicePort">
      <soap:address location="http://localhost:8080/SOAP-1.0-SNAPSHOT/NewWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>